::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

.back-arrow-wrapper {
  font-size: 1.4rem;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}

.head {
  box-sizing: border-box;
  height: 210px;
}

.header {
  width: 90%;
  margin: 20px auto 10px auto;
  font-size: 20px;
}

.scrollWrapper {
  height: 24vw;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.dish {
  margin: 1vw;
  height: 16vw;
  width: 16vw;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.15s linear;
}

div.selectedDish {
  height: 20vw;
  width: 20vw;
  margin: 0 2vw 0 2vw;
}

.dishName {
  width: 90%;
  margin: 5px auto 0 auto;
  text-align: center;
  font-size: 18px;
}

.bodyWrapper {
  width: 90%;
  margin: auto;
}

.descriptionHeader {
  font-size: 18px;
}

.description {
  width: 100%;
  height: 300px;
  background-color: #c4c4c4;
  margin: 20px 0;
}

#dish0 {
  background-image: url("../menu/bottom_sheets_pictures/meat.jpg");
  background-size: cover;
  background-position: center;
}

#dish1 {
  background-image: url("../menu/bottom_sheets_pictures/banana.jpeg");
  background-size: cover;
  background-position: center;
}

#dish2 {
  background-image: url("../menu/bottom_sheets_pictures/roll.jpg");
  background-size: cover;
  background-position: center;
}

#dish3 {
  background-image: url("../menu/bottom_sheets_pictures/dog.jpg");
  background-size: cover;
  background-position: center;
}

#dish4 {
  background-image: url("../menu/bottom_sheets_pictures/yoda.jpg");
  background-size: cover;
  background-position: center;
}