.menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  overflow: auto;
}

.menu-header {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.menu-category-wrapper {
  width: 90%;
  margin: 60px auto 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.menu-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-category-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* background-color: #c4c4c4; */
}

.menu-category-header {
  text-align: center;
}

.salads-image {
  background-image: url("./menu_pictures/salads.jpg");
  background-size: cover;
  background-position: center;
}

.appers-image {
  background-image: url("./menu_pictures/snack.jpg");
  background-size: cover;
  background-position: center;
}

.soups-image {
  background-image: url("./menu_pictures/soups.jpg");
  background-size: cover;
  background-position: center;
}

.pizza-image {
  background-image: url("./menu_pictures/pizza.jpg");
  background-size: cover;
  background-position: center;
}

.pasts-image {
  background-image: url("./menu_pictures/pasta.jpg");
  background-size: cover;
  background-position: center;
}

.hot-image {
  background-image: url("./menu_pictures/hot_dishes.jpeg");
  background-size: cover;
  background-position: center;
}

.desserts-image {
  background-image: url("./menu_pictures/dessert.jpg");
  background-size: cover;
  background-position: center;
}

.childs-image {
  background-image: url("./menu_pictures/child.jpg");
  background-size: cover;
  background-position: center;
}

.drinks-image {
  background-image: url("./menu_pictures/drink.jpg");
  background-size: cover;
  background-position: center;
}

.cocktails-image {
  background-image: url("./menu_pictures/coctail.png");
  background-size: cover;
  background-position: center;
}

.alcohol-image {
  background-image: url("./menu_pictures/alko.jpg");
  background-size: cover;
  background-position: center;
}
